body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: default;
}

@font-face {
    font-family: 'kigelia-arabic-bold';
    src: url('assets/fonts/kigelia-arabic-bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-arabic {
    font-family: 'kigelia-arabic-bold';
}

.font-english {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.links li, .dropdown_menu li {
    list-style: none;
}

.links a, .dropdown_menu a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-block;
}

.links:Hover li a,
.dropdown_menu:Hover li a,
.links:active li a,
.dropdown_menu:active li a {
    opacity: .5;
    text-decoration: none;
    color: black;
}

.links li a:hover,
.dropdown_menu li a:hover,
.links li a:active,
.dropdown_menu li a:active {
    opacity: 1;
    color: black;
    transform: scale(1.1);
    text-decoration: none;
}

header {
    width: 70%;
    left: 15%;
    position: relative;
    padding: 0 2rem 1rem 2rem;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    direction: ltr;
    position: fixed;
    z-index: 1000;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 60px;
    height: auto;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
    display: inline-block;
    color: black;
    cursor: default;
}

.logo a:hover {
    text-decoration: none;
    color: black;
}

.logo a span {
    color: #15b29f;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    display: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: relative;
}

.navbar .toggle_btn .line {
    display: block;
    width: 100%;
    height: 4px; /* Height of each line */
    background-color: black;
    position: absolute;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.navbar .toggle_btn .line1 {
    top: 0;
}

.navbar .toggle_btn .line2 {
    top: 8px;
}

.navbar .toggle_btn .line3 {
    top: 16px;
}

.navbar .toggle_btn.open .line1 {
    transform: rotate(-45deg);
    top: 8px;
}

.navbar .toggle_btn.open .line2 {
    opacity: 0;
}

.navbar .toggle_btn.open .line3 {
    transform: rotate(45deg);
    top: 8px;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(58, 58, 58, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1200;
    margin-top: 16px;
}

.dropdown_menu.open{
    height: 200px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 990px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    header {
        width: 100%;
        left: 0;
    }
}

@media(max-width: 390px) {
    .dropdown_menu {
      margin-top: 30px;
    }
    .logo a {
        width: 30px;
    }
    header {
        height: 10%;
    }
}

@media(max-width: 300px) {
    header {
        padding: 0;
    }
    .toggle_btn {
        margin-top: 35px;
    }
}

@media(max-width: 180px) {
    .toggle_btn {
        display: none !important;
    }
}

#splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#stLogo {
    width: 100px;
    height: auto;
}

.container {
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cover-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    image-rendering: auto;
}
@media (min-width: 768px) {
    .cover-image {
        width: 70%;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .cover-image {
        image-rendering: crisp-edges; /* Improves sharpness */
    }
}

.responsive-heading {
    font-size: 1.5rem;
    line-height: 1.5;
}
@media (min-width: 576px) {
    .responsive-heading {
        font-size: 2rem;
    }
}
@media (min-width: 768px) {
    .responsive-heading {
        font-size: 2.5rem;
    }
}
@media (min-width: 992px) {
    .responsive-heading {
        font-size: 3rem;
    }
}

.text-overlay-container {
    height: 100vh;
    overflow: hidden;
}

.text-overlay-container img {
    object-fit: cover;
    object-position: center;
}

.text-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 5rem;
}
@media (max-width: 340px) {
    .text-overlay {
        padding-left: 1rem;
    }
}

.magnetic-btn{
    width: 150px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
}

.magnetic-btn span {
    position: relative;
    pointer-events: none;
    color: black;
    z-index: 1000;
}

.magnetic-btn::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    background: var(--clr);
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: 1s,left 0s,top 0s;
}

.magnetic-btn:hover::before {
    width: 100px;
    height: 100px;
}

.slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
    margin-bottom: 10rem;
}
.slider .sliderList {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .sliderList .sliderItem {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}
.slider .sliderList .sliderItem img{
    height: 100%;
}
@media (max-width: 990px) {
    .slider .sliderList .sliderItem{
        height: 90px;
    }
    .slider .sliderList .sliderItem img{
        padding-left: 30px;
        padding-right: 30px;
        height: 100%;
    }
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1 - 350px);
    }
}
.slider:hover .sliderItem{
    animation-play-state: paused !important;
    filter: grayscale(1);
}
.slider .sliderItem:hover{
    filter: grayscale(0);
}

.people-comment-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110vh;
    padding: 20px;
    background-color: #f5f5f7;
}

.screen-heading {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 50px;
    font-weight: bold;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 10px;
}

.mobile-image img {
    max-width: 300px;
    height: auto;
    margin-top: 20px;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
    max-width: 300px;
    overflow: visible;
}

.comment-tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 100%;
    /* direction: ltr; */
}

/* animation effect */
.mobile-image, .comment-tab {
    opacity: 0;
    transform: translateY(100px) scale(0.5);
    transition: all 0.3s ease-out;
}
.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}
.mobile-image {
    transition-delay: 0s;
}
.comment-tab {
    transition-delay: 0.2s;
}

/* hover effect */
.comment-grid {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.comment-grid:hover {
    transform: translateY(-5px) scale(1.05);
}

/* reducing width on full screen */
.cm-t2, .cm-t4, .cm-t6 {
    width: 80%;
}
.cm-t2 {
    margin-left: 60px;
}

.comment-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.comment-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.comment-header h4 {
    margin-left: 10px;
    font-size: 1rem;
    flex: 1;
    text-align: left;
    direction: ltr;
}

.comment-tab p {
    margin: 10px 0 0;
    font-size: 0.95rem;
    color: #555;
}

@media (max-width: 950px) {
    .cm-t2, .cm-t4, .cm-t6 {
        width: 100%;
    }
    .cm-t2 {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .app-container {
        display: flex;
        flex-direction: column; /* Ensure vertical stacking */
    }
    .mobile-image {
        order: -1; /* Ensure mobile image is always at the top */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .mobile-image img {
        max-width: 80%;
    }
    .comments {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: start;
        width: 100%;
        max-width: 1200px;
        margin-top: 20px;
    }
    .people-comment-screen {
        height: 150vh;
    }
}

@media (max-width: 548px) {
    .comments {
        grid-template-columns: repeat(1, 1fr);
    }
    .comment-grid {
        width: 100%;
    }
    .people-comment-screen {
        height: 200vh;
    }
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 0 20%;
    margin: 10% 0 3%;
}
.main-content .left-section, .main-content .right-section {
    flex: 1;
    max-width: 40%;
}
.main-content .left-section img {
    width: 120px;
    background-color: #f5f5f7;
    border-radius: 20%;
    transition: transform 0.3s ease;
}
.main-content .left-section img:hover{
    transform: scale(1.1);
}
.main-content .footer-heading {
    font-size: 3rem;
    font-weight: bold;
}
.main-content .right-section img {
    max-width: 90%;
    height: auto;
    margin-top: 0;
}
.main-content .left-section button {
    background-color: #15b29f;
    border: none;
    padding: 15px;
    border-radius: 12px;
    white-space: nowrap;
}
.main-content .left-section button:active,
.main-content .left-section button:focus {
    outline: none !important;
    box-shadow: none !important;
}
.footer-tab {
    background-color: #f5f5f7;
    padding: 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 52%;
    margin: 0 auto;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    height: 230px;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.footer-tab.visible {
    opacity: 1;
    transform: translateY(0);
}
.footer-tab .left-section img {
    width: 50px;
}
.footer-tab .right-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}
.footer-tab .right-section ul {
    list-style: none;
    padding: 0;
}
.footer-tab .right-section ul li {
    font-size: 0.9rem;
}
.footer-tab .right-section ul li a {
    text-decoration: none;
    color: black;
}
.footer-tab .right-section ul li a:hover {
    color: rgb(105, 105, 105);
}
.footer-tab .right-section .foo-title, .footer-tab .left-section small {
    color: rgb(105, 105, 105);
    display: block;
    margin-bottom: 10px;
}
.dropdown-menu {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: none !important;
    width: 210px;
    text-align: left;
    direction: ltr;
}
.dropdown-menu i{
    color: rgb(105, 105, 105);
    margin-right: 10px;
    font-size: 1.5rem;
}
.dropdown-menu .divider {
    height: 1px;
    background-color: rgb(223, 223, 223);
    margin: 5px 0;
}
.dropdown-item {
    color: #000;
    text-decoration: none;
    padding: 10px;
    display: block;
}
.dropdown-item:active,
.dropdown-item:focus {
    background-color: inherit !important;
    border-color: inherit !important;
}

@media (max-width: 1700px) {
    .footer-tab .right-section ul {
      margin-left: 10px;
    }
    .main-content {
        margin: 15% 0 3%;
    }
}
@media (max-width: 1301px) {
    .main-content .footer-heading {
      font-size: 2.5rem;
    }
    .main-content .left-section img {
      width: 100px;
    }
}
@media (max-width: 1143px) {
    .main-content {
      justify-content: center;
      padding: 0;
    }
    .footer-tab{
      width: 100%;
    }
}
@media (max-width: 681px) {
    .main-content .footer-heading {
      font-size: 2rem;
    }
    .main-content .left-section img {
      width: 80px;
    }
    .footer-tab{
      height: auto;
    }
    .main-content .right-section img {
        margin-right: 25%;
    }
}
@media (max-width: 547px) {
    .main-content{
      display: block;
      padding: 0 20%;
    }
    .main-content .footer-heading {
      font-size: 2rem;
    }
    .main-content .right-section img {
      max-width: 250%;
      margin-right: 0;
    }
    .main-content .left-section button {
      margin-bottom: 100%;
    }
}
@media (max-width: 339px) {
    .main-content .right-section img {
      margin-top: 50%;
      max-width: 350%;
    }
    .footer-tab{
      width: auto;
    }
    .main-content .left-section button {
        margin-bottom: 150%;
    }
}