body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: default;
}

@font-face {
    font-family: 'Khebrat Musamim';
    src: url('assets/fonts/18\ Khebrat\ Musamim\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-arabic {
    font-family: 'Khebrat Musamim';
}

.font-english {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.links li, .dropdown_menu li {
    list-style: none;
}

.links a, .dropdown_menu a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-block;
}

.links:Hover li a,
.dropdown_menu:Hover li a,
.links:active li a,
.dropdown_menu:active li a {
    opacity: .5;
    text-decoration: none;
    color: black;
}

.links li a:hover,
.dropdown_menu li a:hover,
.links li a:active,
.dropdown_menu li a:active {
    opacity: 1;
    color: black;
    transform: scale(1.1);
    text-decoration: none;
}

header {
    width: 70%;
    left: 15%;
    position: relative;
    padding: 0 2rem 1rem 2rem;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    direction: ltr;
    position: fixed;
    z-index: 1000;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 60px;
    height: auto;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
    display: inline-block;
    color: black;
    cursor: default;
}

.logo a span {
    color: #15b29f;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    display: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: relative;
}

.navbar .toggle_btn .line {
    display: block;
    width: 100%;
    height: 4px; /* Height of each line */
    background-color: black;
    position: absolute;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.navbar .toggle_btn .line1 {
    top: 0;
}

.navbar .toggle_btn .line2 {
    top: 8px;
}

.navbar .toggle_btn .line3 {
    top: 16px;
}

.navbar .toggle_btn.open .line1 {
    transform: rotate(-45deg);
    top: 8px;
}

.navbar .toggle_btn.open .line2 {
    opacity: 0;
}

.navbar .toggle_btn.open .line3 {
    transform: rotate(45deg);
    top: 8px;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(58, 58, 58, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1200;
    margin-top: 16px;
}

.dropdown_menu.open{
    height: 200px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 990px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    header {
        width: 100%;
        left: 0;
    }
}

@media(max-width: 390px) {
    .dropdown_menu {
      margin-top: 30px;
    }
    .logo a {
        width: 30px;
    }
    header {
        height: 10%;
    }
}

@media(max-width: 300px) {
    header {
        padding: 0;
    }
    .toggle_btn {
        margin-top: 35px;
    }
}

@media(max-width: 180px) {
    .toggle_btn {
        display: none !important;
    }
}

#splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#stLogo {
    width: 150px;
    height: auto;
}

.container {
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 50px;
}

.cover-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    image-rendering: auto;
}
@media (min-width: 768px) {
    .cover-image {
        width: 70%;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .cover-image {
        image-rendering: crisp-edges; /* Improves sharpness */
    }
}

.responsive-heading {
    font-size: 1.5rem;
    line-height: 1.5;
}
@media (min-width: 576px) {
    .responsive-heading {
        font-size: 2rem;
    }
}
@media (min-width: 768px) {
    .responsive-heading {
        font-size: 2.5rem;
    }
}
@media (min-width: 992px) {
    .responsive-heading {
        font-size: 3rem;
    }
}

.text-overlay-container {
    height: 100vh;
    overflow: hidden;
}

.text-overlay-container img {
    object-fit: cover;
    object-position: center;
}

.text-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 5rem;
}
@media (max-width: 340px) {
    .text-overlay {
        padding-left: 1rem;
    }
}

.slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
    margin-bottom: 10rem;
}
.slider .sliderList {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .sliderList .sliderItem {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}
.slider .sliderList .sliderItem img{
    height: 100%;
}
@media (max-width: 990px) {
    .slider .sliderList .sliderItem{
        height: 90px;
    }
    .slider .sliderList .sliderItem img{
        padding-left: 30px;
        padding-right: 30px;
        height: 100%;
    }
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1 - 350px);
    }
}
.slider:hover .sliderItem{
    animation-play-state: paused !important;
    filter: grayscale(1);
}
.slider .sliderItem:hover{
    filter: grayscale(0);
}

footer{
    color: white;
    background-color: #24aa9444;
    line-height: 24px;
    bottom: -100px;
    left: 0;
    width: 100%;
    z-index: 100;
}
footer .art {
    background-color: #15b29f;
    padding: 16px;
    padding-top: 48px;
    clip-path: polygon(0% 5%, 15% 0%, 100% 10%, 100% 100%, 0% 100%);
}
.footer-left img{
    margin-bottom: 10px;
}
.footer ul{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
.footer li{
    line-height: 2em;
}
.footer-right{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}
.footer-right li ul.box p {
    line-height: 1.5;
    word-wrap: break-word;
    margin: 0 10px;
}
.box a{
    color: white;
}
.social a{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}
.social a i{
    color: white;
    padding: 10px 12px;
    font-size: 20px;
    transition: transform 0.3s ease;
}
footer .social i:hover {
    color: #ffff00;
    transform: scale(1.2);
}
footer .notice {
    padding: 10px;
}
footer .notice strong {
    color: #ffff00;
}
.footer-left a img {
    padding: 10px;
    transition: transform 0.3s ease;
}
.footer-left a img:hover {
    transform: scale(1.1);
}
.footer-logo {
    width: 80px;
    background: white;
    border-radius: 20%;
    transition: transform 0.3s ease;
}
.footer-logo:hover {
    transform: scale(1.1);
}
footer a.active, footer a:hover {
    color: #d1cfcf !important;
    text-decoration: none !important;
}

@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px
    }
}
@media (max-width: 285px){
    .footer-left a img{
        width: 100%;
    }
}
@media (max-width: 768px){
    .footer .art{
        clip-path: polygon(0% 5%, 15% 0%, 100% 5%, 100% 100%, 0% 100%);
    }
}
@media screen and (max-width: 768px) {
    .footer-right {
        flex-direction: column;
        align-items: center;
    }
    .footer-right li {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-right li ul.box p {
        padding: 0 5px;
    }
}

.magnetic-btn{
    width: 150px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
}

.magnetic-btn span {
    position: relative;
    pointer-events: none;
    color: black;
    z-index: 1000;
}

.magnetic-btn::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    background: var(--clr);
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: 1s,left 0s,top 0s;
}

.magnetic-btn:hover::before {
    width: 100px;
    height: 100px;
}